/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@media print {
  /* line 5, ../../scss/sass/print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 12, ../../scss/sass/print.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 16, ../../scss/sass/print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 19, ../../scss/sass/print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 23, ../../scss/sass/print.scss */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 26, ../../scss/sass/print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 30, ../../scss/sass/print.scss */
  thead {
    display: table-header-group;
  }

  /* line 33, ../../scss/sass/print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: .5cm;
}

  /* line 39, ../../scss/sass/print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 43, ../../scss/sass/print.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/*/mediaquery*/
