
/* 1. ROOT */
html {
overflow-y : scroll;
background : rgb(255,255,255) /* url(../img/tmp/grid.png) repeat-y 50% 0 */; }

body { 
margin : 0 auto;
padding : 24px 0;
width : 90% /* 252px */;
font : 100%/1.4 Cambria, Georgia, Times, "Times New Roman";
color : rgb(40,40,40); 
background-color : transparent; }

