/* _________________________________________________

320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/

Modified by: Grant Callaghan http://grantcallaghan.com
_____________________________________________________
*/
@import "compass/utilities/general"
@import "compass/reset"
/* _________________________________________________
COLOURS 
_____________________________________________________
*/
/* _________________________________________________
1 ROOT
_____________________________________________________
*/
body, .content, footer { @include clearfix; }
/* _________________________________________________
2 HEADINGS
_____________________________________________________
*/
/* _________________________________________________
3 TYPOGRAPHY
_____________________________________________________
*/
/* _________________________________________________
4 LINKS
_____________________________________________________
*/
/* _________________________________________________
5 FIGURES & IMAGES
_____________________________________________________
*/
/* _________________________________________________
6 TABLES
_____________________________________________________
*/
/* _________________________________________________
7 FORMS
_____________________________________________________
*/
/* _________________________________________________
8 BANNER
_____________________________________________________
*/
/* _________________________________________________
9 NAVIGATION
_____________________________________________________
*/
/* _________________________________________________
10 CONTENT
_____________________________________________________
*/
/* _________________________________________________
11 MAIN
_____________________________________________________
*/
/* _________________________________________________
12 COMPLEMENTARY
_____________________________________________________
*/
/* _________________________________________________
13 CONTENTINFO
_____________________________________________________
*/
/* _________________________________________________
14 GLOBAL OBJECTS
_____________________________________________________
*/
/* _________________________________________________
15 VENDOR-SPECIFIC 
_____________________________________________________
*/
/* _________________________________________________
16 MODERNIZR
_____________________________________________________
*/
/* _________________________________________________
17 TEMPLATE SPECIFICS
_____________________________________________________
*/
/* _________________________________________________
18 MEDIA QUERIES
_____________________________________________________
*/

/*
html, body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* 320 and Up _________________________________________________

320 and Up
Andy Clarke http://about.me/malarkey
LESS Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/

Includes:


__________________________________________________________ */
/* 17 TEMPLATE SPECIFICS ============================================================================= */
